<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Najdobar Paket</title>
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    /* Centering the h1 and table */
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 33px;
      margin-top: 3%;
    }

    table {
      margin: 0 auto; /* This centers the table horizontally */
      text-align: center;

    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="height: 55px; background-color: #be6d08">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a style="color: white; font-weight: bolder; text-decoration: none;"
                              th:href="@{/home}">Врати се назад</a></li>
    </ul>
  </div>
</nav>
<h1>Најдобри пакети за продажно место</h1>
<table class="table" style="text-align: center; align-content: center; margin-top: 3%;width: 80%">

  <thead style="background-color: #DDDDDD">
  <tr>
    <th scope="col">Продажно место</th>
    <th scope="col">Id Пакет</th>
    <th scope="col">Содржи</th>
    <th scope="col">Вкупно продадени</th>
    <th scope="col">Вработен кој го додал</th></tr>
  </thead>
  <tbody style="background-color: #F0F0F0">
  <tr th:each="res: ${report}" itemscope="row">
    <td th:text="${res.getNamePlace()}"></td>
    <td th:text="${res.getPacketId()}"></td>
    <td th:text="${res.getContains()}"></td>
    <td th:text="${res.getTotalSold()}"></td>
    <td th:text="${res.getEmployeeThatAddedName()}"></td>

  </tr>
  </tbody>
</table>
</body>
</html>
